{% assign is_chatnoir = template.suffix == 'landing-chatnoir' %}
<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>

	{{ content_for_header }}

	<!-- FavIcon -->
	{% if is_chatnoir %}
		<link rel="icon" type="image/png" href="{{ 'chatnoir-favicon.png' | asset_url }}">
	{% else %}
		<link rel="icon" href="{{ settings.favicon | asset_url }}">
	{% endif %}

	<!-- Styles & Fonts -->
	{{ (template.suffix | prepend: 'vars-') | append: '.css' | asset_url | stylesheet_tag }}
	{{ template.suffix | append: '.css' | asset_url | stylesheet_tag }}
	
    
  </head>

  <body class="{{ template.suffix }}">
    {{ content_for_layout }}
	
	<!-- Icon Sprite-->
	{% if is_chatnoir %}
		{% render 'icon-sprite' %}
	{% endif %}
  </body>
</html>
