<!DOCTYPE html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    {{ content_for_header }}
  </head>
  <body class="{{ template.suffix }}">
    {{ content_for_layout }}
  </body>
</html>
