{% style %}
	#shopify-section-{{ section.id }} {
	  {% if section.settings.bg_image %}
	    --hero-bg-image: url({{ section.settings.bg_image | image_url: width: 1920 }});
	  {% else %}
	    --hero-bg-image: url({{ 'hero-bg-img.jpg' | asset_url }});
	  {% endif %}

	  {% if section.settings.bg_image_mobile %}
	    --hero-bg-mobile: url({{ section.settings.bg_image_mobile | image_url: width: 900 }});
	  {% else %}
	    --hero-bg-mobile: url({{ 'hero-bg-mobile.jpg' | asset_url }});
	  {% endif %}
	}
{% endstyle %}

<div class="container">
	<div class="hero__content">
		<div class="hero__head">
			<div class="overline">{{ section.settings.overline }}</div>
			<h1 class="heading heading_a">{{ section.settings.heading }}</h1>
		</div>
		<div class="hero__subhead">{{ section.settings.subhead }}</div>
		{% content_for "blocks" %}
	</div>
</div>

{% schema %}
	{
		"name": "Hero Section",
		"tag": "section",
		"class": "main__section hero",
		"limit": 1,
		"settings": [
			{
				"type": "header",
				"content": "Text Content"
			},
			{
				"type": "text",
				"id": "overline",
				"label": "Overline"
			},
			{
				"type": "text",
				"id": "heading",
				"label": "Heading"
			},
			{
				"type": "textarea",
				"id": "subhead",
				"label": "Subheading"
			},
			{
				"type": "header",
				"content": "Background images"
			},
			{
				"type": "image_picker",
				"id": "bg_image",
				"label": "Background image (desktop)",
				"info": "Recommended size: 1920×1080px (16:9) or larger. JPG, quality 70–80%, under 500KB."

			},
			{
				"type": "image_picker",
				"id": "bg_image_mobile",
				"label": "Background image (mobile)",
				"info": "Recommended size: 900×1200px (3:4 portrait). JPG, quality 70–80%, under 300KB."
			}
		],
		"blocks": [
			{	
				"type": "chatnoir-cta-block"
			}
		],
		"max_blocks": 1,
		"presets": [
			{
				"name": "Hero Section",
				"settings": {
					"overline": "Overline test goes Here",
					"heading": "Lorem ipsum dolor sit amet",
					"subhead": "Donec hendrerit, augue a tristique efficitur, mi orci dignissim elit, eu convallis nibh nisi nec turpis. Suspendisse vitae augue ac nisi pellentesque porttitor."
				},
				"blocks": [
					{
						"type": "chatnoir-cta-block",
						"settings": {
							"show_subline": true,
							"cta_url": "#",
							"cta_text": "Button Text",
							"cta_subline": "Subline Text Goes Here"
						}
					}
				]
			}
		]
	}
	{% endschema %}
